img{
    width: 30%;
    float: left;
    margin: 1.66%
}

p{
    font-size: 46.3px;
    font-size-adjust: 30%;;
    font-family: Permanent Marker;
    margin-left: 1.66%;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(221, 167, 167,0.16);
    width: 30%;
}

